
{{{form}}}
<div id="view-mode-selector">
    <button id="view-mode-day" class="view-mode-button">Day</button>
    <button id="view-mode-month" class="view-mode-button">Month</button>
    <button id="view-mode-year" class="view-mode-button">Year</button>
</div>
<div id="gantt_layer">
    {{>block_gantt_diagram/canvas}}
</div>
