<h1>My Tickets </h1>
<div class="table-responsive">
<table class="generaltable table-sm">
<thead>
<tr>
    <th><a href="#">ticketnumber &uarr;</a></th>
    <th><a href="#">user</a></th>
    <th><a href="#">date</a></th>
    <th><a href="#">state</a></th>
    <th>description</th>
    <th><a href="#">priority</a></th>
    <th><a href="#">application route</a></th>
    <th>actions</th>
    <th><a href="#">assigned</a></th>
</tr>
</thead>
<tbody>
<tr>
    <td><a href="#">#7850002145</a></td>
    <td><a href="#">Mohammed, Ali</a></td>
    <td>18 Aug 2024</td>
    <td>Open</td>
    <td>I have got a fine in July and...</td>
    <td>Medium</td>
    <td>Whatsapp</td>
    <td><a href="#" class='logs'>link</a></td>
    <td>Waiting for assigned</td>
</tr>
<tr>
    <td><a href="#">#8530002661</a></td>
    <td><a href="#">Mohammed, Ali</a></td>
    <td>21 Jul 2024</td>
    <td>Closed</td>
    <td>My family needs a house...</td>
    <td>Low</td>
    <td>Email</td>
    <td><a href="#" class='logs'>link</a></td>
    <td>Kautar</td>
</tr>
<tr>
    <td><a href="#">#9730003362</a></td>
    <td><a href="#">Mohammed, Ali</a></td>
    <td>02 Jun 2024</td>
    <td>assigned</td>
    <td>My family needs a house...</td>
    <td>Medium</td>
    <td>Email</td>
    <td><a href="#" class='logs'>link</a></td>
    <td>Cristina</td>
</tr>
</tbody>
</table>
</div>