<h1>My Tickets </h1>
<div class="table-responsive">
<table class="generaltable table-sm">
<thead>
<tr>
    <th><a href="#">ticketnumber &uarr;</a></th>
    <th><a href="#">user</a></th>
    <th><a href="#">date</a></th>
    <th><a href="#">state</a></th>
    <th>description</th>
    <th><a href="#">priority</a></th>
    <th><a href="#">application route</a></th>
    <th>actions</th>
    <th><a href="#">assigned</a></th>
</tr>
</thead>
<tbody>
<tr>
    <td><a href="#">#7850002145</a></td>
    <td><a href="#">Mohammed, Ali</a></td>
    <td>18 Aug 2024</td>
    <td>Open</td>
    <td>I have got a fine in July and...</td>
    <td>Medium</td>
    <td>Whatsapp</td>
    <td><a href="#" class='logs'>log</a></td>
    <td>Waiting for assigned</td>
</tr>
<tr>
    <td><a href="#">#8530002661</a></td>
    <td><a href="#">Mohammed, Ali</a></td>
    <td>21 Jul 2024</td>
    <td>Closed</td>
    <td>My family needs a house...</td>
    <td>Low</td>
    <td>Email</td>
    <td><a href="#" class='logs'>log</a></td>
    <td>Kautar</td>
</tr>
<tr>
    <td><a href="#">#9730003362</a></td>
    <td><a href="#">Mohammed, Ali</a></td>
    <td>02 Jun 2024</td>
    <td>assigned</td>
    <td>My family needs a house...</td>
    <td>Medium</td>
    <td>Email</td>
    <td><a href="#" class='logs'>log</a></td>
    <td>Cristina</td>
</tr>
</tbody>
</table>
</div>
<div class="d-flex flex-row-reverse">
    
<nav
        id="{{$pagingbarid}}paging-bar-{{uniqid}}{{/pagingbarid}}"
        class="{{#showitemsperpageselector}}ml-auto{{/showitemsperpageselector}}"
        data-region="paging-bar"
        data-ignore-control-while-loading="{{ignorecontrolwhileloading}}"
        data-hide-control-on-single-page="{{hidecontrolonsinglepage}}"
        {{#activepagenumber}}
            data-active-page-number="{{.}}"
        {{/activepagenumber}}
        {{^activepagenumber}}
            data-active-page-number="1"
        {{/activepagenumber}}
        {{#itemsperpage}}
            {{#active}}
                data-items-per-page="{{value}}"
            {{/active}}
        {{/itemsperpage}}
        {{#arialabels.paginationnav}}
            aria-label="{{.}}"
        {{/arialabels.paginationnav}}
        {{^arialabels.paginationnav}}
            aria-label="{{#str}} pagedcontentnavigation, core {{/str}}"
        {{/arialabels.paginationnav}}
        {{#arialabels.paginationnavitemcomponents}}
            data-aria-label-components-pagination-item="{{.}}"
        {{/arialabels.paginationnavitemcomponents}}
        {{^arialabels.paginationnavitemcomponents}}
            data-aria-label-components-pagination-item="pagedcontentnavigationitem, core"
        {{/arialabels.paginationnavitemcomponents}}
        {{#arialabels.paginationactivenavitemcomponents}}
            data-aria-label-components-pagination-active-item="{{.}}"
        {{/arialabels.paginationactivenavitemcomponents}}
        {{^arialabels.paginationactivenavitemcomponents}}
            data-aria-label-components-pagination-active-item="pagedcontentnavigationactiveitem, core"
        {{/arialabels.paginationactivenavitemcomponents}}
        {{#barsize}}
            data-bar-size="{{.}}"
        {{/barsize}}
    >

        <ul class="pagination mb-0">
            {{#previous}}
                {{< core/paged_content_paging_bar_item }}
                    {{$linkattributes}}aria-label="{{page}}"{{/linkattributes}}
                    {{$item-content}}
                        <span class="icon-no-margin dir-rtl-hide" aria-hidden="true">{{#pix}} i/previous, core {{/pix}}</span>
                        <span class="icon-no-margin dir-ltr-hide" aria-hidden="true">{{#pix}} i/next, core {{/pix}}</span>
                    {{/item-content}}
                    {{$attributes}}data-control="previous"{{/attributes}}
                {{/ core/paged_content_paging_bar_item }}
            {{/previous}}
            {{#first}}
                {{< core/paged_content_paging_bar_item }}
                    {{$linkattributes}}aria-label="{{page}}"{{/linkattributes}}
                    {{$item-content}}
                        {{#str}}first{{/str}}
                    {{/item-content}}
                    {{$attributes}}data-control="first"{{/attributes}}
                {{/ core/paged_content_paging_bar_item }}
            {{/first}}
            
            {{#pages}}
                {{< core/paged_content_paging_bar_item }}
                    {{$attributes}}data-page="true"{{/attributes}}
                {{/ core/paged_content_paging_bar_item }}
            {{/pages}}
            
            {{#last}}
                {{< core/paged_content_paging_bar_item }}
                    {{$linkattributes}}aria-label="{{page}}"{{/linkattributes}}
                    {{$item-content}}
                        {{#str}}last{{/str}}
                    {{/item-content}}
                    {{$attributes}}data-control="last"{{/attributes}}
                {{/ core/paged_content_paging_bar_item }}
            {{/last}}
            {{#next}}
                {{< core/paged_content_paging_bar_item }}
                    {{$linkattributes}}aria-label="{{page}}"{{/linkattributes}}
                    {{$item-content}}
                        <span class="icon-no-margin dir-rtl-hide" aria-hidden="true">{{#pix}} i/next, core {{/pix}}</span>
                        <span class="icon-no-margin dir-ltr-hide" aria-hidden="true">{{#pix}} i/previous, core {{/pix}}</span>
                    {{/item-content}}
                    {{$attributes}}data-control="next"{{/attributes}}
                {{/ core/paged_content_paging_bar_item }}
            {{/next}}
        </ul>
    </nav>
           
</div>