
<hr>
<h1>Family members </h1>
<div class="d-flex justify-content-between align-items-center">
<nav id="etiqueta" class="navbar navbar-light bg-light">
{{>local_ticketmanagement/family-userlabel}}

</nav>                
 <a id="id_add" class="btn btn-info" href="#">{{#pix}}t/add{{/pix}}Add</a>        
</div>           

<div id="content">
{{>local_ticketmanagement/family-ajax}}
</div>
