{{#listadoFamily}}
<tr id="id_{{id}}">
{{>local_ticketmanagement/relationship_family}}
{{>local_ticketmanagement/firstname_family}}
{{>local_ticketmanagement/lastname_family}}

<td><button  data-id="{{id}}" class="btn btn-primary edit">Edit</button></td>


</tr>
{{/listadoFamily}}

