{{#listadoTickets}}

<tr id="{{ticketnumber}}" class="{{#isClosed}}cerrado{{/isClosed}} {{#isDeactivated}}cerrado{{/isDeactivated}} {{#color}}yellow{{/color}}" >
<td style=" text-align: center; vertical-align: middle;">
    <input type="checkbox" role="switch" data-ticketid="{{ticketnumber}}" {{#communication}}checked{{/communication}}>
</td>
<td><a href="#" class="tickets">{{ticketnumber}}</a></td>
<td><a href="{{profile_url}}" target="_blank" class="user">{{username}}</a></td>
<td>{{familyissue}}</td>
<td>{{#userdate}} {{date}}, {{#str}} strftimedate, core_langconfig {{/str}} {{/userdate}}</td>
<td>{{state}}</td>
<td>{{description}}</td>
<td>{{priority}}</td>

<td><a href="#"  data-ticketid="{{ticketnumber}}"  class="logs">log</a></td>
<td><a href="#"  data-ticketid="{{ticketnumber}}" class="btn btn-primary assignbtn">{{#pix}}t/add{{/pix}}</a><span>{{#assigned}}{{assigned}}{{/assigned}}{{^assigned}}Waiting for assigned{{/assigned}}</span></td>

</tr>
{{/listadoTickets}}