<div id="layer">
  <form>
  <select id="id_graph_project" class="custom-select" aria-label="Default select">
  <option value='0' selected>Non-Project</option>
  </select>
  <select id="id_graph_vessel" class="custom-select" aria-label="Default select">
  <option value='0' selected>All Groups</option>
  </select>
  <button id="idboclick" type="button" class="btn btn-primary">Click me!</button>
  <button id="id_graphical_event_export_pdf" type="button" class="btn btn-info">Export PDF!</button>
  <input type="hidden" id="graphical_event-token" value="{{token}}">
  </form>
<nav class="moremenu navigation observed">
    <ul id="graphpanel" class="nav more-nav nav-tabs" role="tablist">
        <li class="nav-item" role="none">
          <a role="menuitem" data-user="no" class="nav-link active active_tree_node" href="#">General</a>
        </li>
        <li class="nav-item" role="none">
          <a role="menuitem" data-user="yes" class="nav-link" href="#">My tickets</a>
        </li>
    </ul>
</nav>
<div id="graphicalpanel">
    {{>block_graphical_events/canvas}}
</div>
</div>
{{#js}}
require.config({
    paths: {
        pdf: '/blocks/graphical_events/js/pdf-lib.min',
    },
    shim: {
        pdf: { exports: 'pdf' },       // Nombre correcto de la variable global de chart
    }
});

// Cargar el módulo de exportación y las dependencias de la biblioteca
require(['pdf'], function(pdf) {
    
});
{{/js}}