{{#userlist}}

<tr id="{{id}}">

<td>{{vessel}}</td>
<td>{{billid}}</td>
<td>{{email}}</td>
<td>{{firstname}}</td>
<td>{{lastname}}</td>
<td>{{personalemail}}</td>
<td>{{phone1}}</td>
<td>{{phone2}}</td>
<td>{{address}}</td>
<td>{{city}}</td>
<td><button title="User files..." data-userid={{id}} type="button" class="add-file-user btn btn-primary">{{#pix}}i/files, core {{/pix}}</button></td>
<td><button title="Edit user profile..." data-userid={{id}} type="button" class="modify-user btn btn-primary">{{#pix}}i/edit, core {{/pix}}</button></td>
<td><button title="Add family member..." data-userid={{id}} type="button" class="modify-family btn btn-primary">{{#pix}}i/users, core {{/pix}}</button></td>
<td><button title="Add Vehicle..." data-userid={{id}} type="button" class="modify-car btn btn-primary"><i class="fas fa-car"></i> <!-- Font Awesome Car Icon --></button></td>
<td><button title="Add house/appartment/room..." data-userid={{id}} type="button" class="modify-house btn btn-primary"><i class="fas fa-house"></i> <!-- Font Awesome House Icon --></button></td>
</tr>
{{/userlist}}