{{#userlist}}

<tr id="{{id}}">

<td>{{vessel}}</td>
<td>{{billid}}</td>
<td>{{email}}</td>
<td>{{firstname}}</td>
<td>{{lastname}}</td>
<td>{{personalemail}}</td>
<td>{{phone1}}</td>
<td>{{phone2}}</td>
<td>{{address}}</td>
<td>{{city}}</td>
<td><button data-userid={{id}} type="button" class="modify-user btn btn-primary">{{#pix}}i/edit, core {{/pix}}</button></td>
<td><button data-userid={{id}} type="button" class="modify-family btn btn-primary">{{#pix}}i/users, core {{/pix}}</button></td>
</tr>
{{/userlist}}